
/* * * * * * * * * * */
/* ELEMENT LEVEL CSS */
/* * * * * * * * * * */

footer {
  background-color: #091F2F;
  color: white;
  font-family: 'Lora', sans-serif;
  padding: 2.5rem;
}

footer a {
  color: #FB4D42;
  text-decoration: none;
}

footer a:hover {
  color: #FB4D42;
}

h1, h3 {
  align-self: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 0 0 4% 0;
  text-align: center;
}

hr {
  align-self: center;
  margin: 0 auto;
  width: 75%;
}

html {
  scroll-behavior: smooth;
}

i {
  margin: 0.5rem;
  color: #288BE4;
}

i:hover {
  color: #51ACFF;
}

input {
  float: right;
  margin-right: 3%;
  padding:5px;
}

p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.1px;
}

table {
  margin: 1rem 0 1rem 0;
}

td {
  text-align: right;
  width: 33.33%;
}

/* * * * * * * * * * */
/*  CLASS LEVEL CSS  */
/* * * * * * * * * * */

.banner {
  background-color: rgba(84, 84, 84, .8); /* Tint color */
  background-blend-mode: multiply;
  color: white !important;
  padding: 50px 18% 50px 18% !important;
}

.top-banner {
  background-image: url("../assets/images/banner.jpeg");
}

.bottom-banner {
  background-color: #091F2F;
}

.banner p {
  font-family: 'Montserrat', sans-serif !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.btn-block {
  color: white !important;
  max-width: 150px;
  white-space: normal;
}

.card-main {
  border-color:#c8c8c8;
  margin-top: 10px;
  padding: 0;
}

.end-tag {
  background-color: #F2F2F2;
  padding-left: 32% !important;
  padding-right: 32% !important;
  text-align: center;
}

.end-tag h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.hidden {
  display: none !important;
}

.input-error {
  border-color: #FB4D42;
  border-radius: 5px;
}

.logo {
  width: 10%;
  margin-right: 1%;
}

/* always have some space below the content so that we can scroll properly */
.main-content {
  padding: 50px 25% 50px 25%;
  scroll-margin-top: 2rem;
}

.main-content hr {
  background-color: #091F2F;
  border-radius: 10px;
  height: 0.25rem;
  margin: 1rem 0 !important;
  width: 100%;
}

.main-content p {
  font-family: 'Lora', sans-serif;
}

.main-content label {
  color: #288BE4;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

.modal-dialog {
  font-family: 'Montserrat', sans-serif;
  max-width: 750px;
}

.navbar a {
  color: white;
  text-align: center;
  text-decoration: none;
  width: 33.33%;
}

/* Style the current/active link */
.navbar a.active {
  color: #FB4D42;
}

/* Add a background color on mouse-over */
.navbar a:hover {
  color: #FB4D42;
}

.navbar-dark {
  background-color: #091F2F;
  padding: 0.5rem 5rem 0.5rem 5rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.navbar-light {
  background-color: #F2F2F2;
  padding: 0 1rem 0 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #091F2F;
}

.new-user {
  color: black !important;
  font-size: 90%;
  margin: 0;
  padding: 0;
}

.result-row {
  margin: 2rem 0 2rem 0;
}


tbody tr:nth-of-type(even) {
  background-color: #f2f9ff;
}

tbody tr:nth-of-type(odd) {
  background-color: white !important;
}


.socials a:hover .fa-circle {
  color: #d22d27;
}

.socials a:hover .fab {
  color: white !important;
}

.socials .fa-circle {
  color: #FB4D42;
}

.socials span {
  flex-shrink: 0;
}

.spacer {
  height: 50px;
  width: 100%;
  display: block;
}

.table-row {
  margin: 0 0 50px 0;
}


/* custom button color */
.btn-theme{color:#fff;background-color:#288BE4;border-color:#288BE4}

.btn-theme:hover{color:#fff;background-color:#51ACFF;border-color:#51ACFF}
.btn-theme:focus,.btn-primary.focus{box-shadow:0 0 0 .2rem #51ACFF}
.btn-theme.disabled,
.btn-theme:disabled{color:#fff;background-color:#288BE4;border-color:#288BE4}
.btn-theme:not(:disabled):not(.disabled):active,
.btn-theme:not(:disabled):not(.disabled).active,
.show>.btn-theme.dropdown-toggle{color:#fff;background-color:#51ACFF;border-color:#000}
.btn-theme:not(:disabled):not(.disabled):active:focus,
.btn-theme:not(:disabled):not(.disabled).active:focus,
.show>.btn-theme.dropdown-toggle:focus{box-shadow:0 0 0 .2rem #51ACFF}

.btn-outline-theme{color:#000;background-color:transparent;background-image:none;border-color:#288BE4}
.btn-outline-theme:hover{color:white;background-color:#51ACFF;border-color:#51ACFF}
.btn-outline-theme:focus,
.btn-outline-theme.focus{box-shadow:0 0 0 .2rem #51ACFF}
.btn-outline-theme.disabled,
.btn-outline-theme:disabled{color:#51ACFF;background-color:transparent}
.btn-outline-theme:not(:disabled):not(.disabled):active,
.btn-outline-theme:not(:disabled):not(.disabled).active,
.show>.btn-outline-theme.dropdown-toggle{color:#fff;background-color:#51ACFF;border-color:#51ACFF}
.btn-outline-theme:not(:disabled):not(.disabled):active:focus,
.btn-outline-theme:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-theme.dropdown-toggle:focus{box-shadow:0 0 0 .2rem #51ACFF}
/* end custom button color */

/* Changing placeholder text color */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bbbbbb;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #bbbbbb;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #bbbbbb;
}

.custom_info {
  border-bottom: 1px dashed;
}

/* * * * * * * * */
/* ID LEVEL CSS  */
/* * * * * * * * */

#combined-inputs input {
  float: left !important;
}

#combined-inputs label {
  color: black;
  font-size: 14px !important;
}

#email-section p {
  font-size: 16px;
}

#results {
  font-family: 'Montserrat', sans-serif;
}

/* accordion styling based on https://codepen.io/ferdisahin/pen/PXXPXM */
#res-collapse {
  margin: 50px 0;
}

#res-collapse .card {
  border: 0;
}

#res-collapse .card .card-header {
  border-radius: 2px;
  padding: 0;
}

#res-collapse .card .card-header .btn-header-link {
  background-color: white;
  color: #222;
  display: block;
  font-size: 1.25em;
  padding: 20px;
  text-align: left;
}

#res-collapse .card .card-header .btn-header-link:after {
  content: "\f107";
  color: #288BE4;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  float: right;
}

#res-collapse .card .card-header .btn-header-link.collapsed:after {
  content: "\f106";
}

#res-collapse .card .collapse {
  border: 0;
}

#res-collapse .card .collapse.show {
  line-height: 30px;
  color: #222;
}


#translate {
  color: #091F2F;
  font-size: 1.3rem;
  font-weight: 400;
  margin-right: 1rem;
}

#head-section a {
  color: white;
}
